@import '../../styles/variables.scss';

.top{
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
  
    align-items: center;

    .bannerWrap{
      
      .buttonWrap{

        .btnHome{
          text-decoration: underline;
        }
      }
    }
  }

  
  .top :first-child{
    margin : 45px 0 50px 0;
  }
  
  .mid{
    max-width: 1240px;
    padding: 50px;
    margin: 50px 0 50px 0;
    background-color: #F6F6F6;
    border-radius: 50px;

    @media (max-width: 780px) {
      background-color: transparent;
    }

    @media (max-width: 375px){
      padding: 0;
    }
     
  }