.bannerWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bannerWrap button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    font-family: inherit;

}

.bannerWrap button:hover{
    text-decoration: underline;
}
 