@import '../../styles/variables';

.collapse {
  border-radius: 10px;
  margin: 10px 0;
  padding: 0;
  font-size: 18px;

  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: $primary-color;
    border-radius: 10px;
    color: $tertiary-color;
  }

  .arrow {
    width: 24px;
    height: 13.71px;
    transition: transform 0.3s ease;

    &_up {
      transform: rotate(180deg);
    }

    &_down {
      transform: rotate(0deg);
    }
  }

  &_content,
  &_content_hidden {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &_content {
    max-height: 500px;
    padding: 10px; 
    background-color: $secondary-color;
    border-radius: 0 0 10px 10px; 
  }

  &_content_hidden {
    max-height: 0;
    padding: 0;
  }

  &_content p {
    margin: 0;
    padding: 5px 0;
  }
}
