@import '../../styles/variables';

#main {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-color;
}

.errorNum {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
}

.info {
    font-size: 36px;
    margin: 0px;
}

.return {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}


@media(max-width:375px){
    .errorNum{
        font-size: 96px;
    }

    .info{
        max-width: 260px;
        font-size: 18px;
    }

    .return{
        font-size: 14px;
    }


}