.mainWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

@media(max-width:375px) {
    .mainWrapper{
        width: 95vw;
        padding-left: 0;
    }
}